<ul class="logged-in__inner-nav">
    <li class="logged-in__units logged-in__units--greeting">
        {{greeting}}<br />{{login}}
    </li>
    <li class="logged-in__units logged-in__units--language">
        <a href="#" class="logged-in__language">Українською</a>
    </li>
    <li class="logged-in__units logged-in__units--log-out">
        <a href="#" class="logged-in__log-out">Log out</a>
    </li>
</ul>
<div class="logged-in__main-content">
    <div class="logged-in__admin-query">
        <p class="logged-in__admin-regular">Select the needed query type</p>
            <input type="radio" name="admin-viewMethod" id="by-user" value="users" checked="checked"><label
                for="by-user">By
                user</label> <br>
            <input type="radio" name="admin-viewMethod" id="by-feedback" value="feedBack"><label
                for="by-feedback">By
                feedback</label>
        <br>
        <fieldset class="logged-in__by-user--fieldset">
            <legend>Find users ...</legend>
            <div class="logged-in__by-user">
                <div class="input-header">By location:</div>
                <input type="radio" name="user-location" id="location-any" value="null" checked="checked"><label
                    for="location-any">any</label> <br>
                <input type="radio" name="user-location" id="location-kyiv" value="Kyiv"><label for="location-kyiv">Kyiv</label>
                <br>
                <input type="radio" name="user-location" id="location-kharkiv" value="Kharkiv"><label
                    for="location-kharkiv">Kharkiv</label> <br>
                <input type="radio" name="user-location" id="location-dnipro" value="Dnipro"><label
                    for="location-dnipro">Dnipro</label>
                <br>
                <input type="radio" name="user-location" id="location-odesa" value="Odesa"><label
                    for="location-odesa">Odesa</label>
                <br>
                <input type="radio" name="user-location" id="location-lviv" value="Lviv"><label for="location-lviv">Lviv</label>
                <br>
                <div class="input-header">By stack:</div>
                <input type="text" name="user-stack" id="user-stack" placeholder="E.g. javascript">
                <br>
                <div class="input-header">By salary:</div>
                <input type="number" name="user-salary" id="user-salary" placeholder="Specify a minimum salary, USD...">
                <br>
                <div class="input-header">By last profile update:</div>
                <input type="date" name="user-update" id="user-update"> <br>
                <button class="logged-in__download logged-in__download--seen">Download results</button>
                <button class="logged-in__download logged-in__download--full">Download full data</button>
            </div>
        </fieldset>
        <fieldset class="logged-in__by-feedback--fieldset">
            <legend >Find feedback ... </legend>
            <div class="logged-in__by-feedback">
                <div class="input-header">By date:</div>
                <input type="date" name="feedback-date"
                    id="feedback-date"> <br>
                <button class="logged-in__download logged-in__download--seen">Download results</button>
                <button class="logged-in__download logged-in__download--full">Download full data</button>
            </div>
        </fieldset>
    </div>
    <div class="logged-in__admin-result">
        <div class="container">
            <div class="responsive-table">
                <div id="dynamic-table"></div>
            </div>
        </div>
        {{{adminTable}}}
    </div>
</div>