<ul class="logged-in__inner-nav">
    <li class="logged-in__units logged-in__units--greeting">
        {{greeting}}<br />{{login}}
    </li>
    <li class="logged-in__units logged-in__units--language">
        <a href="#" class="logged-in__language">Українською</a>
    </li>
    <li class="logged-in__units logged-in__units--log-out">
        <a href="#" class="logged-in__log-out">Log out</a>
    </li>
</ul>
<div class="logged-in__main-content">
    <div class="logged-in__admin-query">
        <p class="logged-in__admin-regular">Select the needed query type</p>
        <input type="radio" name="admin-viewMethod" id="by-user" value="user" checked="checked"><label for="by-user">By
            user</label> <br>
        <input type="radio" name="admin-viewMethod" id="by-feedback" value="feedBack"><label for="by-feedback">By
            feedback</label><br>
            <div class="logged-in__by-user">
                Find users ... <br>
                By location:
                <input type="radio" name="user-location" id="location-kyiv" value="Kyiv"><label for="location-kyiv">Kyiv</label> <br>
                <input type="radio" name="user-location" id="location-kharkiv" value="Kharkiv"><label for="location-kharkiv">Kharkiv</label> <br>
                <input type="radio" name="user-location" id="location-dnipro" value="Dnipro"><label for="location-dnipro">Dnipro</label> <br>
                <input type="radio" name="user-location" id="location-odesa" value="Odesa"><label for="location-odesa">Odesa</label> <br>
                <input type="radio" name="user-location" id="location-lviv" value="Lviv"><label for="location-lviv">Lviv</label> <br>
                By stack: <input type="text" name="user-stack" id="user-stack" placeholder="E.g. javascript"> <br>
                By salary: <input type="number" name="user-salary" id="user-salary" placeholder="Specify a minimum salary, USD..."> <br>
                By last profile update: <input type="date" name="user-update" id="user-update"> <br>
            </div>
            <div class="logged-in__by-feedback">
                Find feedback ... <br>
                <label for="feedback-date">By dates since</label><input type="date" name="feedback-date" id="feedback-date"> <br>
            </div>
        {{{adminQuery}}}
    </div>
    <div class="logged-in__admin-result">
        <div class="container">
            <div class="responsive-table">
                <div id="dynamic-table"></div>
            </div>
        </div>
        {{{adminTable}}}
    </div>
    {{!-- <button class="logged-in__admin-download-all">Download all search results</button> --}}
    {{!-- https://codepen.io/adielhercules/pen/NXXxJG?editors=0010 --}}
</div>