@import "colors";

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

section {
  padding: 40px 0px;
}

.wrapper-1 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(black, black),
    url("../img/code-coding-computer-574077.jpg");
  background-blend-mode: saturation;
  background-size: cover;
  background-position: center;
  min-height: 540px;
  color: $main-theme;
  padding: 10px;

  & h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #38c7e0;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin-bottom: 50px;
}

.site-logo {
  font-size: 20px;
  font-weight: 700;
  color: $main-theme;
  text-transform: uppercase;
}

.site-logo:focus {
  outline: none;
}

*[data-content="greeting"] {
  word-break: break-word;
}

.main-nav {
  margin: 0px;
  padding: 0px 20px;
  min-height: 30px;
  background: $main-theme;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__item {
    color: #ffffff;
    font-weight: 700;
    border: none;
    background: transparent;
    min-width: 100px;
    height: 60px;
    max-width: 180px;
    padding: 0px 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--dropdown::after {
      display: inline;
      content: "▼";
      padding-left: 5px;
    }

    &--sub {
      display: none;
      position: absolute;
      left: 30px;
      bottom: -80px;
    }

    &:hover,
    &:focus {
      color: $text-active;
    }
  }

  &__subitem {
    color: #ffffff;
    font-weight: 700;
    border: none;
    background: transparent;
    width: 100px;
    height: 40px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.main-nav__subitem:hover,
.main-nav__subitem:focus {
  color: $text-active;
}

#menu-sub-onhover:hover .main-nav__item--sub {
  display: block;
}

form.search {
  text-align: right;
  margin-bottom: 70px;
}

input.search__input {
  outline: none;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 90%;
  background: #ededed url("../img/search.svg") no-repeat 0px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  border-radius: 10em;
  transition: all 0.5s;
}

input.search__input:focus {
  width: 130px;
  background-color: #fff;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input.search__input:-moz-placeholder,
input.search__input::-webkit-input-placeholder {
  color: #999;
}

.wrapper-1 p {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 40px;
}

.register {
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  background: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
}

.wrapper-2 {
  // padding: 10px;
  text-align: center;
}

.wrapper-2 h2 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

// LOGGED IN

.logged-in {
  background: rgba($black, 0.9);
  height: 800px;
  color: rgba($white, 0.7);
}

.logged-in__inner-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.logged-in__units {
  // display: block;
  margin: 0 40px;
  text-align: left;
}

.logged-in__main-content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.logged-in__main-content > div {
  margin: 0 50px;
}

#feedback,
#logged-in__personal-form {
  width: 350px;
  margin: 0px;
}

.feedback__input,
.logged-in__input {
  font-size: 14px;
  width: 300px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
}

#feedback__message,
#logged-in__about {
  width: 300px;
  height: 272px;
  padding: 15px;
  resize: none;
  background: transparent;
  outline: none;
  color: #726659;
  font-size: 14px;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
}

#feedback__submit {
  width: 300px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 0.875em;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;

  &:hover {
    color: #e2dedb;
  }
}

.feedback__input::placeholder,
#feedback__message::placeholder,
.logged-in__input::placeholder,
#logged-in__about::placeholder {
  color: #aca49c;
  font-size: 14px;
}

.feedback__input:focus::placeholder,
#feedback__message:focus::placeholder,
.logged-in__input:focus::placeholder,
#logged-in__about:focus::placeholder {
  color: #bbb5af;
}

.feedback__input:hover::placeholder,
#feedback__message:hover::placeholder,
.logged-in__input::placeholder,
#logged-in__about:hover::placeholder {
  color: #e2dedb;
}

.feedback__input:hover:focus::placeholder,
#feedback__message:hover:focus::placeholder,
.logged-in__input:hover:focus::placeholder,
#logged-in__about:hover:focus::placeholder {
  color: #cbc6c1;
}

// SERVICES-STORY

.services-story {
  position: relative;
  display: inline-block;
  background: radial-gradient(#ffffff, rgb(0, 200, 255));
  width: 100%;
}

.services-story h2 {
  color: $black;
}

.stories-container {
  margin-bottom: 50px;
}

.stories-container__item-descr {
  display: none;
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: $main-theme;
}

.stories-container__item {
  position: relative;
  padding: 10px;
  width: 320px;
  height: 320px;
  display: inline-block;
}

.stories-container__item .stories__small {
  margin: auto;
  width: 100%;
  height: 100%;
}

.stories-container__item
  .transparent-label:hover
  ~ .stories-container__item-descr {
  display: block;
}

.stories-container__item .transparent-label:hover ~ .stories__small {
  filter: brightness(20%);
}

#story-1 {
  position: absolute;
  bottom: 50px;
  left: calc(46% - 10px);
  transform: translateX(-50%);
}

#story-2 {
  position: absolute;
  bottom: 50px;
  left: calc(48% - 5px);
  transform: translateX(-50%);
}

#story-3 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

#story-4 {
  position: absolute;
  bottom: 50px;
  left: calc(52% + 5px);
  transform: translateX(-50%);
}

#story-5 {
  position: absolute;
  bottom: 50px;
  left: calc(54% + 10px);
  transform: translateX(-50%);
}

.services-story input {
  cursor: pointer;
}

input:checked ~ .stories-container__item {
  display: inline-block;
}

#story-1:checked
  ~ .stories-container
  .stories-container__item:nth-of-type(n + 5) {
  display: none;
}

#story-2:checked ~ .stories-container .stories-container__item:nth-child(1) {
  display: none;
}

#story-2:checked
  ~ .stories-container
  .stories-container__item:nth-child(n + 6) {
  display: none;
}

#story-3:checked
  ~ .stories-container
  .stories-container__item:nth-child(-n + 2) {
  display: none;
}

#story-3:checked
  ~ .stories-container
  .stories-container__item:nth-child(n + 7) {
  display: none;
}

#story-4:checked
  ~ .stories-container
  .stories-container__item:nth-child(-n + 3) {
  display: none;
}

#story-4:checked
  ~ .stories-container
  .stories-container__item:nth-child(n + 8) {
  display: none;
}

#story-5:checked
  ~ .stories-container
  .stories-container__item:nth-child(-n + 4) {
  display: none;
}

input[name^="show-large"][id$="turnon"]:checked
  ~ .stories-container__modal-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
}

.stories-container__modal-backdrop img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stories-container__close-modal {
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 100px;
  color: #ffffff;
  cursor: pointer;
}

input[name="show-large"] {
  display: none;
}

.transparent-label {
  display: block;
  position: absolute;
  z-index: 2;
  background: rgba(255, 0, 0, 0);
  width: 300px;
  height: 300px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.stories-container__modal-backdrop {
  display: none;
}

input[name^="show-large"] {
  display: none;
}

// TEAM LIST

.team-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__item {
    margin-bottom: 30px;
  }

  &__title {
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 14px;
  }

  &__desc {
    font-size: 14px;
    font-family: "Roboto";
    color: #666666;
  }
}

.img-holder {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

  & img {
    max-height: 100%;
    width: auto;
  }
}

// CONTACTS

.contacts-section {
  background: #e2dedb;
}

.contacts-main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contacts__hint {
  margin-bottom: 25px;
  color: $main-theme;
  font-size: 18px;
  font-weight: 700;
}

.contacts__elem {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.contacts__elem::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__elem--skype::before {
  background-image: url(../img/skype.svg);
}

.contacts__elem--email::before {
  background-image: url(../img/envelope.svg);
}

.contacts__elem--address::before {
  background-image: url(../img/location.svg);
}

.contacts__elem--tel::before {
  background-image: url(../img/phone-call.svg);
}

// FOOTER
footer {
  background: $main-theme;
  font-weight: 700;
  color: $black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & div {
    width: 600px;
    padding: 20px;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  // background: #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: unset;

  &--facebook {
    background: url(../img/facebook.svg);
  }

  &--linkedin {
    background: url(../img/linkedin.svg);
  }

  &--telegram {
    background: url(../img/telegram.svg);
  }
}

// FIXED BUTTON
.to-main-nav {
  z-index: 8;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f44336;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: background-color, box-shadow 0.2s linear;

  &:hover,
  &:focus {
    background-color: #d2190b;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }

  &:before {
    display: inline-block;
    height: 20px;
    width: 20px;
    content: "";
    background: url(../img/arrow-up.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

// PAGE-MODAL

.page-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9;
}

.page-modal a {
  text-decoration: none;
  color: #1ab188;
  &:hover {
    color: #0da47b;
  }
}

.page-modal__wrapper {
  background: rgba(#13232f, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(#13232f, 0.3);
  position: relative;
}

.page-modal__tab-group {
  padding: 0;
  margin: 0 0 40px 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(#a0b3b0, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #0da47b;
      color: $white;
    }
  }

  .page-modal__tab--modal-tab-active a {
    background: #1ab188;
    color: $white;
  }
}

.page-modal__tab-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-modal__field-wrap label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba($white, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 14px;

  .page-modal__req {
    margin: 2px;
    color: #1ab188;
  }
}

label:not([for="remember-me"]).active {
  transform: translateY(25px);
  left: 2px;
  font-size: 12px;

  .page-modal__req {
    opacity: 0;
  }
}

.page-modal label.valid {
  color: #249c24;
}

.page-modal label.invalid {
  color: #c42f2f;
}

.page-modal input[type="email"],
.page-modal input[type="password"] {
  font-size: 22px;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: $white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;

  &[type="checkbox"] {
    display: inline;
    min-height: 20px;
    min-width: 20px;
    font-size: 20px;
  }

  &:focus {
    outline: 0;
    border-color: #1ab188;
  }
}

.page-modal__remember {
  position: relative;
}

.page-modal__remember label {
  position: absolute;
  top: 0px;
  right: 30px;
  display: inline-block;
  cursor: pointer;
}

#remember-me {
  display: inline;
  height: 17px;
  width: 17px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.page-modal__remember {
  margin-top: 0px;
  width: 100%;
  text-align: right;
  color: rgba($white, 0.5);
}

.page-modal textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.page-modal__field-wrap {
  position: relative;
  margin-bottom: 40px;
  min-height: 39px;
}

#page-modal__login form .page-modal__field-wrap:nth-child(2) {
  margin-bottom: 15px;
}

.page-modal__button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background: #1ab188;
  color: $white;
  transition: all.5s ease;

  &:hover,
  &:focus {
    background: #0da47b;
  }
}
.page-modal__button--button-block {
  display: block;
  width: 100%;
}

.page-modal__close-modal {
  position: absolute;
  right: 11px;
  top: 5px;
  font-size: 30px;
  color: #a0b3b0;
  cursor: pointer;
}
